<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="URI">
  </mat-form-field>

  <div class="ads-container">
    <mat-form-field>
      <input matInput placeholder="PUBLICIDAD" [disabled]="!includeAds">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="includeAds">Incluir publicidad</mat-checkbox>
  </div>

  <button mat-button>ACORTAR</button>
</div>

<div class="shortener-result-container">
  <mat-card class="shortener-result-card">
    <mat-card-header>
      <mat-card-title>URI acrotada</mat-card-title>
      <mat-card-subtitle>http://bluebomb.com/blue-bomb</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/qr-example.svg" alt="Photo of a Shiba Inu">
  </mat-card>
</div>


