.shortener-result-card {
  max-width: 400px;
}

.form-container{
  width: fit-content;
  margin: 15% auto;
}

.input-forms{
  width: 300px;
}

.short-button{
  margin-left: 225px;
}

.checkbox-ads{
  margin-left: 16px;
}
