.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.ads-page {
  flex: 1 1 auto;
}

.message-container{
  width: fit-content;
  margin: 15% auto;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

body {
  height: 100%;
  margin: 0
}
