.statics-table{
    width: 100%
}
.uri-filter{
    width: 100%
}

.filters{
    width: 100%
}

.content{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }